<div class="container">
 <!-- filter sidebar -->
    <div id="filter-sidebar" class="visible-sm visible-md visible-lg collapse sliding-sidebar">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded glyphicon glyphicon-chevron-down"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Laptops
        </h4>
        <div id="group-1" class="list-group collapse in">
            <ul>
                <li><%= link_to "Core i7", Category.first %></li>
                <li><%= link_to "Core i5", Category.first %></li>
                <li><%= link_to "Core i3", Category.first %></li>
                <li><%= link_to "Core 2Duo", Category.first %></li>
                <li><%= link_to "intel Pentium", Category.first %></li>
                <li><%= link_to "intel Centrino", Category.first %></li>
            </ul>
        </div>
      </div>
      <div>
        <h4 data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded glyphicon glyphicon-chevron-down"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed glyphicon"></i>
          Desktops
        </h4>
        <div id="group-2" class="list-group collapse in">
            <ul>
                <li><%= link_to "Core i7", Category.second %></li>
                <li><%= link_to "Core i5", Category.second %></li>
                <li><%= link_to "Core i3", Category.second %></li>
                <li><%= link_to "Core 2Duo", Category.second %></li>
                <li><%= link_to "intel Pentium", Category.second %></li>
                <li><%= link_to "intel Centrino", Category.second %></li>
            </ul>
        </div>
      </div><div>
        <h4 data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded glyphicon glyphicon glyphicon-chevron-down"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Accessories
        </h4>
        <div id="group-3" class="list-group collapse in">
            <ul>
                <li><%= link_to "Core i7", Category.third %></li>
                <li><%= link_to "Core i5", Category.third %></li>
                <li><%= link_to "Core i3", Category.third %></li>
                <li><%= link_to "Core 2Duo", Category.third %></li>
                <li><%= link_to "intel Pentium", Category.third %></li>
                <li><%= link_to "intel Centrino", Category.third %></li>
            </ul>
        </div>
      </div><div>
        <h4 data-toggle="collapse" data-target="#group-4">
          <i class="fa fa-fw fa-caret-down parent-expanded glyphicon glyphicon-chevron-down"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          CCTV
        </h4>
        <div id="group-4" class="list-group collapse in">
            <ul>
                <li><%= link_to "Core i7", Category.fourth %></li>
                <li><%= link_to "Core i5", Category.fourth %></li>
                <li><%= link_to "Core i3", Category.fourth %></li>
                <li><%= link_to "Core 2Duo", Category.fourth %></li>
                <li><%= link_to "intel Pentium", Category.fourth %></li>
                <li><%= link_to "intel Centrino", Category.fourth %></li>
            </ul>
        </div>
      </div>
        </div>
      <div>
        <h4 data-toggle="collapse" data-target="#group-5">
          <i class="fa fa-fw fa-caret-down parent-expanded glyphicon glyphicon-chevron-down"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Printers
        </h4>
        <div id="group-5" class="list-group collapse in">
            <ul>
                <li><%= link_to "Core i7", Category.fifth %></li>
                <li><%= link_to "Core i5", Category.fifth %></li>
                <li><%= link_to "Core i3", Category.fifth %></li>
                <li><%= link_to "Core 2Duo", Category.fifth %></li>
                <li><%= link_to "intel Pentium", Category.fifth %></li>
                <li><%= link_to "intel Centrino", Category.fifth %></li>
            </ul>
        </div>
      </div>    
<!-- end example -->
</div>
   
