<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>
<h3>We have the following <%= @category.name %> available</h3>
<% Product.where(category_id: @category.id).each do |p| %>
	<li><%= p.title %></li>
	<li><%= link_to image_tag(p.image.url), product_path(Product.id)# target: '_blank'
	 %> </li>
	<li><%= p.description%></li>
	<li><%= p.price %></li>
<% end -%>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<% end -%>