<%=  render 'shared/sidebar' %>
<section>
        <div class="container">
            <div class="row">                
                <div class="col-sm-9 padding-right">
                    <% if admin_signed_in? %>
                        <h2><%= link_to 'New Category', new_category_path, class: "text-center"%></h2>
                    <% end -%>
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center"><%= @category.name %></h2>                       
								<p>
								  <%= @category.description %>
								</p>
								<% Product.where(category_id: @category.id).each do |p| %>
									<div class="col-md-4">
	                                    <div class="product-image-wrapper">
	                                        <div class="single-products">
													<p><%= link_to image_tag(p.image.url, size: "300x200", class: "zoom-img"), product_path(p.id)%></p>
													<div class="productinfo text-center">
														<p><%= p.description%></p>
														<p><%= p.price %></p>
														<div class="choose">
		                                                    <ul class="nav nav-pills nav-justified">
			                                                    <% unless admin_signed_in? %>
			                                                        <li><a href="/"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
			                                                    <% end -%>
				                                                <% if admin_signed_in? %>
					                                                <li><%= link_to 'Edit', edit_category_path(category) %></li>
					                                                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
				                                                <% end -%>
		                                                    </ul>
	                                                	</div>
                                               		</div>
                                             </div>
                                        </div>
									</div>
								<% end -%>
							</div>
						</div>
					</div>
				</div>
		</section>