<!-- <p id="notice"><%= notice %></p> -->
<%= render 'layouts/carousel' %>
<%= render 'layouts/sidebar' %>
<section>
        <div class="container">
            <div class="row">                
                <div class="col-sm-9 padding-right">
                    <% if admin_signed_in? %>
                        <h2><%= link_to 'New Product', new_product_path, class: "text-center"%></h2>
                    <% end -%>
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Featured Items</h2>                       
                             <div class="row">
                                <% @products.each do |product| %>
                                  <div class="col-md-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <p><%= link_to image_tag(product.image.url, size: "300x200", class: "zoom-img"), product %></p>
                                            <div class="productinfo text-center">
                                                <h2><%= product.title %></h2>
                                                <p><%= product.description %></p>
                                                <p><%= product.price %></p>
                                                <div class="choose">
                                                    <ul class="nav nav-pills nav-justified">
                                                    <% unless admin_signed_in? %>
                                                        <li><%= link_to  '<i class="fa fa-plus-square"></i> view similar items'.html_safe, category_path(product.category_id) %></li>
                                                        <li><a href="/"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                                    <% end -%>
                                                <% if admin_signed_in? %>
                                                <li><%= link_to 'Edit', edit_product_path(product) %></li>
                                                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                                                <% end -%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                <% end %>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
