<!-- <p id="notice"><%= notice %></p> -->
<% if admin_signed_in? %>
<p><%= link_to "logout", destroy_user_session_path, :method => :delete %></p>
<% end -%>
<h1>Listing Products</h1>
 <div class="row">
    <% @products.each do |product| %>
          <div class="col-md-4">
            <p><%= link_to image_tag(product.image.url(:medium)), product %></p>
            <% if admin_signed_in? %>
            <p><%= product.title %></p>
            <p><%= product.description %></p>
            <p><%= product.price %></p>
            <p><%= link_to 'view similar items', category_path(product.category_id) %></p>
            <p><%= link_to 'Edit', edit_product_path(product) %></p>
            <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end -%>
            </div>
    <% end %>
    </div>

<br>
<% if admin_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% end -%>

 
