
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-10 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">	
						<div class="flexslider">
							  <ul class="slides">
								<li> 
									<%= image_tag(@product.image.url, "data-imagezoom" => "true", class: 'img-responsive',size:'500x600') %>
								</li>
							  </ul>
						</div>
						<!-- FlexSlider -->
						<script src="assets/imagezoom"></script>
						<script defer src="assets/jquery.flexslider"></script>
						<link rel="stylesheet" href="assets/flexslider" type="text/css" media="screen" />
					</div>	
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2><%= @product.title %></h2>
							
							<h5 class="item_price"><%= @product.price %></h5>
							<p><%= @product.description %></p>
								<!-- <a href="#" class="add-cart item_add">Add to Wishlist</a> -->
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
<% end -%>