<!DOCTYPE html>
<html>
<head>
  <title>Rd</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', 'main',media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'typed', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="assets/comlinks.png">
</head>
<body>
<!-- <p class="notice"><%= notice %> </p>
<p class="alert"><%= alert %> </p> -->
<%= render 'shared/navbar' %>
<div class="container">
<%= yield %>
</div>
<%= render 'shared/footer' %>
  <script src="assets/jquery.scrollUp.min"></script>

</body>
</html>
