<!DOCTYPE html>
<html>
<head>
  <title>Rd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
  <!-- fontawesome css -->
  <script src="https://use.fontawesome.com/63c268d0c9.js"></script>
	<link rel="stylesheet" href="assets/font-awesome.min" />
  <link rel="stylesheet" type="text/css" href="assets/main">
	<link rel="stylesheet" type="text/css" href="assets/responsive">
  <link rel="stylesheet" type="text/css" href="assets/style">
  <link rel="stylesheet" type="text/css" href="assets/memenu">
</head>
<body>
<%= render 'layouts/navbar' %>
<%= yield %>
</div>
</body>
</html>